@model Escuela
@{
    ViewData["Title"] = "Escula";
    Layout="_Layout";
}

<h2>Escuela id: @Model.EscuelaId;</h2>
<h2>Nombre: @Model.Nombre</h2>
<p><strong>Anio Fundacion: @Model.AnioFundacion</strong></p>

<p><i>@ViewBag.CosaDinamica</i></p>